*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Silkscreen', cursive;
  color:rgb(207, 77, 243);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:10px;
  align-items: center;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

.text {
  color: rgb(233, 232, 240);
}